<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All hotel reviews
    </h1>

    <a href="/hotel_reviews/new" class="btn btn-block btn-outline-secondary">
      Add a new hotel review
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "hotel_review_templates/hotel_reviews_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Hotel
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @hotel_reviews.each do |hotel_review| %>
      <tr>
        <td>
          <%= hotel_review.id %>
        </td>

        <td>
          <% if hotel_review.hotel.present? %>
            <a href="/hotels/<%= hotel_review.hotel.id %>">
              <%= hotel_review.hotel.hotel_name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if hotel_review.user.present? %>
            <a href="/users/<%= hotel_review.user.id %>">
              <%= hotel_review.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(hotel_review.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(hotel_review.updated_at) %> ago
        </td>

        <td>
          <a href="/hotel_reviews/<%= hotel_review.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @hotel_reviews, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
