<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Hotel review #<%= @hotel_review.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/hotel_reviews" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link hotel_review start -->
      <div class="col">
        <% if current_user == @hotel_review.user %>
          <a href="/hotel_reviews/<%= @hotel_review.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit hotel_review
          </a>
        <% end %>
      </div>
      <!-- Edit link hotel_review end -->

      <!-- Delete link hotel_review start -->
      <div class="col">
        <% if current_user == @hotel_review.user %>
          <a href="/delete_hotel_review/<%= @hotel_review.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete hotel_review
          </a>
        <% end %>
      </div>
      <!-- Delete link hotel_review end -->
    </div>

    <dl>
      <dt>
        Hotel
      </dt>
      <!-- Display hotel_id start -->
      <dd>
        <% if @hotel_review.hotel.present? %>
          <a href="/hotels/<%= @hotel_review.hotel_id %>">
            <%= @hotel_review.hotel.hotel_name %>
          </a>
        <% end %>
      </dd>
      <!-- Display hotel_id end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <% if @hotel_review.user.present? %>
          <a href="/users/<%= @hotel_review.user_id %>">
            <%= @hotel_review.user.email %>
          </a>
        <% end %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@hotel_review.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@hotel_review.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
