<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Restaurant review #<%= @restaurant_review.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/restaurant_reviews" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @restaurant_review.user %>
          <a href="/restaurant_reviews/<%= @restaurant_review.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit restaurant_review
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @restaurant_review.user %>
          <a href="/delete_restaurant_review/<%= @restaurant_review.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete restaurant_review
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Restaurant
      </dt>
      <dd>
        <% if @restaurant_review.restaurant.present? %>
          <a href="/restaurants/<%= @restaurant_review.restaurant_id %>">
            <%= @restaurant_review.restaurant.restaurant_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @restaurant_review.user.present? %>
          <a href="/users/<%= @restaurant_review.user_id %>">
            <%= @restaurant_review.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@restaurant_review.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@restaurant_review.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

