<h1>
  Edit hotel #<%= @hotel.id %>
</h1>

<hr>

<form action="/update_hotel/<%= @hotel.id %>" method="post">

  <div class="form-group">
    <label for="hotel_name">
      Hotel name
    </label>

    <input type="text" id="hotel_name" name="hotel_name" class="form-control" value="<%= @hotel.hotel_name %>">
  </div>

  <div class="form-group">
    <label for="hotel_address">
      Hotel address
    </label>

    <input type="text" id="hotel_address" name="hotel_address" class="form-control" value="<%= @hotel.hotel_address %>">
  </div>

  <div class="form-group">
    <label for="pet_fee">
      Pet fee
    </label>

    <input type="text" id="pet_fee" name="pet_fee" class="form-control" value="<%= @hotel.pet_fee %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update hotel
  </button>
</form>

<hr>

<a href="/hotels">
  Go back
</a>
